<%- include("./partials/header") %>
<%- include("./partials/footer") %>
<div class="container mt-5">

  <h1>Welcome to Signup and Login System!</h1>

<a href="/auth/signup" class="btn btn-lrg btn-primary">Signup</a>
<a href="/auth/login" class="btn btn-lrg btn-secondary">Login</a>

</div>